---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <ul id="list">
  </ul>
  <button class="btn btn-primary btn-large">Refresh</button>
</div><!-- .welcome -->